<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My test page</title>
</head>

<body>
    
<ul>

<form action="{% url 'polls:vote' question.id%}" method="post">


<h1>{{ question.question_text }}</h1>

{%if error_message%} 
<p> {{error_message}} </p> 
{% endif %}

{% for choice in question_choice_set.all %}
<label for="choice{{forloop.counter}}">  {{choice.choice_text}} </label> 
<input type="radio" id="choice{forloop.counter}" name="choice" value="{{choice.id}}" >
<br>
{% endfor %}



</form>

</ul>
</body>

</html>
